
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'montserrat';
}

input:not([type="checkbox"]),button{
    appearance: none;
    border: none;
    background: none;
    outline: none;
    cursor:initial;
}


body{
    background-color: lightgray;
    color:black;
}

section{
    margin-top:2rem;
    margin-bottom:2rem;
    padding-left:2rem;
    padding-right: 2rem;
}

h3{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
	margin-left:20%

    
}

h4{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
	text-align: center;
}

.createTodo input[type="text"] {
	display: block;
	width: 50%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color:  #313154;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
	 margin-left: 20%;
	margin-right: 20%;

}


input[type="checkbox"] {
 	display: flex;
 	align-items: center;
	width: 20px;
	height: 20px;
}

.createTodo input[type="submit"] {
	display: block;
	width: 10%;
	text-align: center;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color:#f1be47ec;;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
	margin-left: 20%;
	margin-right: 20%;

}

.createTodo input[type="submit"]:hover {
	opacity: 0.75;
}

.todoList .list {
	margin: 1rem 0;
}

.todoList .todoItem {
	display: flex;
	width: 50%;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
    margin-left: 20%;
	margin-right:20%
}

.todoItem label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todoItem .todoContent {
	flex: 1 1 0%;
}

.todoItem .todoContent input {
	color: #313154;
	font-size: 1.125rem;
}

.todoItem .actions {
	display: flex;
	align-items: center;
}

.todoItem .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todoItem .actions button:hover {
	opacity: 0.75;
}

.todoItem .actions .delete {
	background-color: #ff5b57;
}

/* .todo-item .done .todo-content input {
	text-decoration: line-through;
	color: darkgrey;
} */

.completedList .todoItem {
	display: flex;
	width: 50%;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
    margin-left: 20%;
	margin-right:20%
}